<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
    <!-- Module Properties -->
	<id>jmx</id>
	<name>JMX Module</name>
	<version>1.0-SNAPSHOT</version>
	<package>org.openmrs.module.jmx</package>
	<author>Rowan Seymour</author>
	<description>Exposes server information via JMX</description>
	<require_version>1.7.2</require_version>
	<activator>org.openmrs.module.jmx.JMXActivator</activator>
	<extension>
		<point>org.openmrs.admin.maintenance.localHeader</point>
		<class>org.openmrs.module.jmx.web.extension.html.MaintenanceLinksExt</class>
	</extension> 
	<privilege>
		<name>Manage JMX</name>
		<description>Able to manage OpenMRS JMX beans</description>
	</privilege>
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
</module>

