<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Rowan Seymour</author>
	<description>Exposes server information via JMX</description>
	<updateURL>https://dev.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<activator>org.openmrs.module.jmx.JMXActivator</activator>
	
	<advice>
		<point>org.openmrs.api.AdministrationService</point>
		<class>org.openmrs.module.jmx.aop.AdministrationServiceInterceptor</class>
	</advice>
	<advice>
		<point>org.openmrs.scheduler.SchedulerService</point>
		<class>org.openmrs.module.jmx.aop.SchedulerServiceInterceptor</class>
	</advice>
</module>

